.seo-footer{padding-bottom:60px; }
.wrapper{background: url(../images/background-altm.jpg); background-size: 100% 100%; }
.jackpot-wrapper{filter:unset}
.progressive-jackpot{filter:unset}
.progressive-jackpot img{filter:unset}
.progressive-jackpot>h2{display:none}
.btn-account > a{color: transparent !important; text-shadow: none;}
.btn,.side-nav a.btn{color: transparent; text-shadow: none;}
.btn-secondary-primary{background:url(../images/btn-login-altm.png);background-size: 100% 100%; border: 0; text-shadow: none;}
.btn-join{background:url(../images/btn-register-altm.png); background-size: 100% 100%; border:0; text-shadow: none;}
.btn-grey{ color: #333;}
.navbar-fixed{background:url(../images/middle-altm.jpg); background-size: 50%; text-align:center; }
.navbar-fixed .button-collapse{ padding: 8px; background-color: #7425d9; border-radius: 3px solid #03024c;}
.navbar-fixed .logo-img{ margin-top: 10px; }
.page-header-title{background-color:#ffd200;color: #7425d9;;}
.page-header-title a{color:#7425d9;}
.main-header-title{background: #ffd200; color: #7425d9;;}
.account-menu a.active{color:#7425d9;;background-color:#ffd200}
.navigation-ribbon .navigation-ribbon-item .active{color:#ffc93f}
.browser-default input{color:#e8e8e8;background-color:#333}
.bottom-nav-bar a.active{color:#ffd200;}
.bottom-nav-bar a{background:none; color: #fff;}
.bottom-nav-bar{background: #1d1731; border-top: 1px solid #ffd200;}
.btn-account ul a.icon-btn{color: #ffc93f;;background:#af5fff; background-size: 100% 100%; }
.bonus-button.btn-await-approval{background-color:#fffb00;color:#ffefeb}
.bonus-button.active{background-color:#ffd200;color:#ffefeb}
.bonus-button.active:hover{background-color:#ffd200;color:#ffefeb;cursor:pointer}
.item-provider.selected{border-bottom:3px solid #f00018;background-color:#ffd200}
.item-provider.selected span{color: #7425d9;}
/* Menu Game Front index page */
.game-front-wrapper{background:url(../images/menu-altm.jpg) no-repeat;background-size:100% 100%}
/* .game-front-wrapper{background:linear-gradient(180deg, #e2ac25 , #5d4717);} */
/* .game-group-front .nav-link > i{background: url(../images/icon_nav.png);} */
.game-group-front .nav-link>i {
    width: 90px;
    height: 50px;
    margin: 0 auto;
    display: block;
    background: url(../images/icon_nav.png) no-repeat;
    background-size: 60%;
    background-position: center -190px;
}
.game-group-front .nav-link{line-height:19px;color: #ffd200;}
.game-group-front .nav-link>span{position:relative;bottom:0}
.game-group-front .nav-link>i{height:56px}
.game-group-front .nav-link>i.casino{background-position:center -181px}
.game-group-front .nav-link>i.slot{background-position:center -47px}
.game-group-front .nav-link>i.tembak_ikan{background-position:center -255px}
.game-group-front .nav-link>i.lottery{background-position:center -325px}
.game-group-front .nav-link>i.poker{background-position:center -409px}
.game-group-front .nav-link>i.sports{background-position:center -608px}
.game-group-front .nav-link>i.games{background-position:center -678px}
.game-menu li a.active{background:linear-gradient(to bottom,#f00018 1%,#b20000 100%);filter:drop-shadow(0 0 6px #ffc93f);color:#ffc93f}
.supported-bank{
    background: url(../images/middle-altm.jpg); background-size: 100% 100%;
    padding-top: 20px; padding-bottom: 20px;
    border-top: 1px solid #ffd200;
}
.supported-bank .bank{background: #340052; border:1px solid #ffde00;box-shadow:inset 0px 0px 5px #ffffff;}
.custom-page{border-color:#ffd200}
.promotions-category a.active{background:#ffd200;color: #7425d9;;}

/* Favorite */
.filter-tools a:hover, .filter-tools a.selected, .history-button{
    background: radial-gradient(circle, transparent 1%, #ffd200 1%) center center / 15000% #ffd200;
    border: 1px solid rgb(44 44 44 / 0.7);
    color: #7425d9;;
}

/* Bonus */
.wrapper-provider-list .bonus-provider-list{background-color:rgba(238, 226, 125, 0.89)}
.bonus-link-detail{color:#ffd200}
.progress-value{background:linear-gradient(180deg, rgba(206, 195, 34, 0.8) 0%, rgba(255, 240, 11, 0.69) 100%)}

/* History Datepicker */
.datepicker table tr td.active,.datepicker table tr td.active.active{
	background: url(../images/menu.jpg) no-repeat;
    background-size: 150% 150%;
    background-position: center center;
    color: #212529;
}
.newsInfo{background: #390558; color: #ffd200;}